/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
sm — 640px (Small devices, like mobile phones in portrait mode)
md — 768px (Medium devices, like tablets) 
lg — 1024px (Large devices, like laptops) 
xl — 1280px (Extra large devices, like desktops) 
2xl — 1536px (Larger desktop screens)
*/

/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap'); */

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

/* body {
    font-family: 'Inter', sans-serif !important;
} */


.main-container {
    @apply mx-5 md:mx-10 lg:mx-12 xl:mx-16 2xl:mx-[105px]
}

.main-btn {
    @apply text-white focus:outline-none font-medium rounded-md text-sm px-8 2xl:px-12 lg:px-10 md:px-8 py-3 2xl:py-4 text-center md:text-lg 2xl:text-xl
}

/*  */