/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.bg {
    background-color: blueviolet !important;
}

/* Define CSS variables */
:root {
    --main-bg-color: #0B9586;
}

/* Body styles */
body {
    font-family: "Inter", sans-serif;
    color: white;
}

/* Container styles */
.container {
    padding: 0 150px;
    width: 100%;
}

/* List and link styles */
li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

/* Header styles */
header {
    background-color: var(--main-bg-color);
    /* position: absolute; */
    /* z-index: 9999; */
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo {
    width: 157px;
    height: 54px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav ul {
    display: flex;
    gap: 9px;
}

nav ul li a {
    text-transform: capitalize;
    font-size: 18px;
    padding: 8px 28px;
    font-weight: 400;
    border-radius: 5px;
    line-height: 21px;
    letter-spacing: .95px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .06);
    border-bottom: 3px solid rgba(0, 0, 0, .3);
}

nav .call-us {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2px;
    padding-left: 60px;
    margin-left: 20px;
    /* outline: 1px solid red; */
    letter-spacing: 1.2px;
}

nav .call-us .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
    font-size: 18px;
}


nav .call-us .number {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

/* Hero section */
.hero {
    height: 100vh;
    position: relative;
    background-image: url(../img/solar-panels-meadow\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .hero-content {
    position: relative;
    /* background-color: antiquewhite; */
}

.hero-content .hero-content-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 68px;
    gap: 10px;
    width: 332.83px;
}

hr.line {
    width: 230px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.34);
    outline: none;
    border: none;
    border-radius: 10px;
    border-left: 80px solid white;
    margin-bottom: -6px;
}

.hero-content-text {
    position: absolute;
    top: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.hero .hero-content-text h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 62.93px;
    letter-spacing: -0.02em;
    max-width: 550px;
    word-spacing: 10px;
}

.hero .hero-content-text p {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    max-width: 700px;

}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 28px;

}

.btn {
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.08em;
    border-radius: 50px;
    outline: none;
    border: none;
}

.hero-btns :first-child {
    background: #3CAB90;
    color: white;
}

.hero-btns :last-child {
    background: #FFBB1C;
    color: black;
}

/* Friendliest-content */

.Friendliest {
    margin-bottom: 75px;
}


.Friendliest-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 80px;
    color: black;
}

.Friendliest-content li {
    color: black;
}

.Friendliest-content-imgs {
    position: relative;
}


.Friendliest-content-text {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.Friendliest-content-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
}

.Friendliest-content-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 590px;
    color: rgba(0, 0, 0, 0.646);
}

/* Initialize the counter for the ordered list */
.custom-list {
    counter-reset: list-counter;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}



.custom-list li {
    position: relative;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

/* Add the custom counter before each list item */
.custom-list li::before {
    counter-increment: list-counter;
    content: "0" counter(list-counter) "/";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    color: #84BD3A;
}

/* green-banner */
.green-banner {
    position: relative;
}

.green-banner-text {
    position: absolute;
    top: 30%;
    text-align: start;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.green-banner-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: .8px;

}

.green-banner-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    max-width: 600px;
}

.green-banner-text button {
    background-color: #FFBB1C;
}

/* Solar Kits */
.solar-kits {
    color: black;
}

.solar-kits-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 41px;
    padding: 80px 0;
}

.solar-kits-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.solar-kits-content-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
}

.solar-kits-content-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 80%;
    color: rgba(0, 0, 0, 0.646);
}

.solar-kits-content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.solar-kit-card {
    box-shadow: 0px 4px 30px 0px #0000000D;
}

.solar-kit-card img {
    width: 100%;
}

.solar-kit-card-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 25px;
    padding: 20px;
}

.solar-kit-card-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* ellipsis */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
}

.view {
    color: #0B9586;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* repiair-panner */
.panner-img {
    width: 100%;
}

.repair-panner {
    position: relative;
}


.repaire-panner-text {
    position: absolute;
    background-color: #00000091;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    backdrop-filter: blur(24px)
}

.repaire-panner-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: 1px;
}

.repaire-panner-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: 770px;
    word-spacing: 1.5px;
}

/* energy-section */
.energy-innovators {
    background-color: #FFBB1C0D;
    padding: 80px 0 70px;
}

.grid-energy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 24px;
    color: black;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-top: -10px;
}

.grid-energy .div1 img {
    background: #3CAB90;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

.grid-energy .div1 .div1-img-conainer {
    display: inline-flex;
    background-color: #3cab8f6c;
    border-radius: 12px;
    padding: 10px;
}

.grid-energy .div1 h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.1px;
}

.grid-energy .div1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 95%;
}


.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.grid-energy-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 24px;
    gap: 32px;
    border: 2px solid #3CAB90;
    border-radius: 10px;
    background: #3CAB900D;
}

.grid-energy-card-img {
    width: 100%;
    padding: 15px 10px;
    background: #3CAB9026;
    border-radius: 8px;
}

.grid-energy-card img {
    width: 100%;
}

.grid-energy-card-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.grid-energy-card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    max-width: 95%;
}

.grid-energy-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.grid-energy-card p span {
    text-decoration: underline;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
}

/* our-values */
.our-values {
    padding: 80px 0;
}

.our-values .our-values-text {
    text-align: center;
    color: black;
    margin-bottom: 33px;
}

.our-values .our-values-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: 1.2px;
    margin-bottom: 24px;
}

.our-values .our-values-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.our-values-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.our-values-cards .our-values-card {
    border: 2px solid #3CAB90;
    border-radius: 10px;
    background: #3CAB900D;
    padding: 32px;
    color: black;
    flex: 1;

}

.our-values-cards .our-values-card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 20px 0;
}

.our-values-cards .our-values-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* about-woc */
.about-woc {
    margin: 80px 0 85px;
}

.about-woc-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    gap: 32px;
}

.about-woc-right-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
    max-width: 400px;
}

.about-woc-right-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.about-woc-right-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.about-woc-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    background: #3CAB900F;
    border-radius: 20px;
}

.about-woc-left-title {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

.about-woc-left .about-woc-left-title .dots {
    display: flex;
}

.about-woc-left .about-woc-left-title .dots .dot {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    background: #D9D9D9;
    border-radius: 50%;
}

.about-woc-left .about-woc-left-title .dots div:first-child {
    background: #6B6B6B;
}

.about-woc-left .about-woc-left-title h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    color: #3CAB90;
}

.about-woc-left p {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    max-width: 490px;
    margin-top: 20px;
    margin-bottom: 65px;
}

.about-woc-left-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.about-woc-left-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-woc-left-img h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.about-woc-left-ptn {
    display: flex;
    gap: 10px;
}


/* footer */

footer {
    background: #283646;
    padding: 80px 0;
}

footer .footer-flex {
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 100%;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 38px;
}

.footer-top-left img {
    width: 185px;
    height: 64px;
}

.footer-top {
    position: relative;
}

.footer-ul {
    display: flex;
    justify-content: center;
    align-items: start;
    align-self: flex-start;
    gap: 40px;
}

.email-foother {
    position: absolute;
    bottom: 0;
    right: 0;
}

.email-foother p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.email-foother input {
    width: 406px;
    padding: 16px 20px;
    margin-top: 10px;
    border-radius: 38px;
    border: 1px solid #B3BDC7;
    position: relative;
    background-color: #b3bdc746;
    font-size: 16px;
    color: white;
    outline: none;
}


.email-foother button {
    position: absolute;
    right: 0;
    top: 40%;
    border: none;
    background: #FFBB1C;
    padding: 16px 34px;
    color: white;
    font-size: 16px;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #B3BDC7;
}

/* responsive styles */

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    nav {
        padding: 10px 0;
    }

    .logo {
        display: none;
    }

    nav ul {
        display: flex;
        margin: auto;
        gap: 5px;
    }

    nav ul li a {
        font-size: 14px;
        padding: 8px 8px;
        line-height: 12px;
    }

    nav .call-us {
        display: none;
    }

    .hero-content .hero-content-number {
        width: 250px;
    }

    .hero .hero-content-text h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        word-spacing: normal;
    }

    .hero .hero-content-text p {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        max-width: 700px;

    }

    .hero-btns {
        justify-content: center;

    }

    .btn {
        font-size: 12px;
        padding: 10px 20px;
    }

    .Friendliest-content {
        flex-direction: column;
    }

    .Friendliest-content-text h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
    }

    .Friendliest-content-text p {
        font-size: 14px;
        font-weight: 400;
        max-width: 100%;
    }

    .custom-list li {
        font-size: 18px;
        font-weight: 500;
    }

    .Friendliest-content-imgs img {
        width: 100%;
        margin-top: 20px;
    }

    .green-banner-text {
        gap: 15px;
        align-items: center;
    }

    .green-banner-text h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .green-banner-text p {
        display: none;
    }

    .green-banner-text button {
        background-color: #FFBB1C;
        padding: 5px 10px;
    }

    .Friendliest {
        margin-bottom: 50px;
    }

    .solar-kits-content {
        padding: 40px 0;
    }

    .solar-kits-content-text p {
        line-height: 20px;
        max-width: 95%;
    }

    .solar-kits-content-cards {
        flex-direction: column;
    }

    .repaire-panner-text {
        padding: 10px;
        gap: 12px;
        width: 80%;
        padding: 20px;
        /* display: none; */
    }

    .repaire-panner-text h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
    }

    .repaire-panner-text p {
        display: none;
    }

    .grid-energy {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 18px;
        grid-row-gap: 18px;
        width: 100%;
    }

    .energy-innovators {
        padding: 40px 0;
    }

    .grid-energy .div1,
    .grid-energy .div2,
    .grid-energy .div3,
    .grid-energy .div4,
    .grid-energy .div5 {
        margin: 0 auto;
        grid-area: auto / auto / auto / auto;
    }

    .grid-energy .div1 img {
        padding: 10px;
    }

    .grid-energy .div1 h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
    }

    .grid-energy-card {
        padding: 16px;
        border: 2px solid #3CAB90;
        border-radius: 10px;
        background: #3CAB900D;
        width: 100%;
    }

    .grid-energy-card h4 {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    .grid-energy-card p {
        font-size: 12px;
        font-weight: 300;
        line-height: normal;
    }

    .our-values {
        padding: 40px 0;
    }

    .our-values .our-values-text h2 {
        font-size: 32px;
        line-height: normal;
        margin-bottom: 18px;
    }

    .our-values .our-values-text p {
        font-size: 16px;
    }

    .our-values-cards {
        flex-direction: column;
    }

    .about-woc {
        margin: 0px;
    }

    .about-woc-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-woc-right-text {
        gap: 20px;
        max-width: 100%;
    }

    .about-woc-right-text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

    .about-woc-left-title {
        width: 100%;
    }

    .about-woc-left p {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        max-width: 100%;
        margin-top: 18px;
        margin-bottom: 20px;
    }

    .about-woc-left-img {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-woc-left-flex {
        flex-direction: column;

    }

    .about-woc-left-img h5 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .about-woc-left-ptn img {
        width: 20px;
    }

    .about-woc-left {
        padding: 20px;
        text-align: center;
    }

    footer {
        padding: 40px 0 10px 0;
        text-align: center;
    }

    footer .footer-flex {
        justify-content: center;
        /* align-items: center; */
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top-left img {
        width: auto;
        height: auto;
    }

    .footer-ul {
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: 20px;
    }

    .email-foother {
        position: relative;
        margin: 40px 0 18px;

    }

    .email-foother button {
        position: relative;
    }

    .email-foother input {
        width: 100%;
        margin-bottom: 12px;
    }

    .footer-copyright {
        flex-direction: column;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    nav ul {
        gap: 20px;
    }
}